{% extends "GrauchoMoviesBundle::bars.html.twig" %}

{% block header %}
	Prześlij Swoją Recenzje
{% endblock %}

{% block content %}
	<form class="form-horizontal" method="POST">
		{% block form_row %}
			<h2>{{title}}</h2>
				{% for child in form.children %}
					{% if 'token' in child.vars.name %}
						{{ form_widget(child) }}
					{% elseif child.vars.name == 'save' %}
						{{ form_label(child) }}
				        {{ form_widget(child) }}
					{% else %}
			    		<div class="form-group">
					        {{ form_label(child) }}
					        {{ form_widget(child, {'attr': {'class': attr.class|default('') ~ 'form-control'}}) }}
					    </div>
					{% endif %}
				{% endfor %}
		{% endblock form_row %}
	</form>
{% endblock %}