{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

	{{ form_errors(form) }}
	<div class="col-md-12">
		<div class="col-md-4">{{ form_label(form.username) }}</div>
		<div class="col-md-4">{{ form_widget(form.username) }}</div>
		<div class="col-md-4">{{ form_errors(form.username) }}</div>
	</div><div class="row"></div>
	<div class="col-md-12">
		<div class="col-md-4">{{ form_label(form.email) }}</div>
		<div class="col-md-4">{{ form_widget(form.email) }}</div>
		<div class="col-md-4">{{ form_errors(form.email) }}</div>
	</div><div class="row"></div>
	<div class="col-md-12">
		<div class="col-md-4">{{ form_label(form.plainPassword.first) }}</div>
		<div class="col-md-4">{{ form_widget(form.plainPassword.first) }}</div>
		<div class="col-md-4">{{ form_errors(form.plainPassword.first) }}</div>
	</div><div class="row"></div>
	<div class="col-md-12">
		<div class="col-md-4">{{ form_label(form.plainPassword.second) }}</div>
		<div class="col-md-4">{{ form_widget(form.plainPassword.second) }}</div>
	</div><div class="row"></div>
	{{ form_rest(form) }}
    <div class="col-md-12">
        <div class="col-md-4"><input class="btn btn-large btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" /></div>
    </div>
</form>
