{% extends "GrauchoMoviesBundle::bars.html.twig" %}

{% block header %}
	{{movie[0].name}}
{% endblock %}

{% block content %}
	
	{% set img = 'bundles/grauchomovies/images/' ~ movie[0].img %}

<div class="container">
	<div class="page-header"><h2 style="display: inline-block;">{{movie[0].name}} </h2><span>     ({{movie[0].data|date('Y-m-d')}})</span>
	</div>
	<div class="col-md-4">
		<div class="row">
			<img class="img-thumbnail" src={{ asset(img)}}>
		</div>
		<div class="page-header" >	
			Aktorzy:<br> {{movie[0].aktorzy}}<br>
			Cena:    {{movie[0].value}} PLN
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<p>{{movie[0].opis}}</p>
		</div>
	</div>
</div>
<div class="col-md-12" style="margin-bottom:20px;">
		<a href="{{path('graucho_movies_koszyk_add', {'id': movie[0].id})}}" class="btn btn-primary">Do koszyka</a>
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('graucho_movies_recenzja_add', {'id': movie[0].id})}}" class="btn btn-primary">Recenzuj</a>
		{% endif %}
</div>
{% endblock %}
